@model Common.Models.PdfModel

@if (TempData["Uploaded"] == null)
{
    TempData["Uploaded"] = "Select a file";
}

<h3>@TempData["Uploaded"]</h3>

@using (@Html.BeginForm("PostPdf", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @*@Html.AntiForgeryToken();
    <div class="input-group">
        <input class="btn-default" type="file" name="file" />
        <input class="btn btn-primary" type="submit" value="Upload" />
    </div>*@
    
    <input type="file" name="@Html.NameFor(x => x.File)" id="@Html.IdFor(x => x.File)" />
    @Html.ValidationMessageFor(x => x.File)
    <input type="submit" value="upload" />
}